<IfModule mod_rewrite.c>
    RewriteEngine On
    # Redirigir la raíz a public/
    RewriteRule ^$ public/ [L]
    # Redirigir todo lo demás a public/ si no existe en la raíz
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>

<FilesMatch "\.(env|ini|log|sql|sqlite|yml|yaml)$">
    Require all denied
</FilesMatch>
