parameters:
  level: 7
  paths:
    - src
  excludePaths:
    - src/Dev

  treatPhpDocTypesAsCertain: false

  # ignoreErrors:
  #   - '#always exists and is not nullable#'
  #   - '#will always evaluate to true#'
  #   - '#no value type specified in iterable type array#'
