name: Deploy Marvel a Hostinger (FTP)

on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      motivo:
        description: "Motivo del deploy"
        required: false
        default: "Deploy manual"

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      ####################################################################
      # 1) Deploy APP PRINCIPAL (Carpeta iamasterbigschool/public)
      ####################################################################
      - name: Deploy app principal (iamasterbigschool)
        uses: SamKirkland/FTP-Deploy-Action@v4.3.5
        with:
          server: ${{ secrets.FTP_HOST }}
          username: ${{ secrets.FTP_USER }}
          password: ${{ secrets.FTP_PASS }}
          protocol: ftp
          port: ${{ secrets.FTP_PORT }}

          # RUTA REAL DONDE VA EL PROYECTO
          # (la misma que usas en FileZilla)
          server-dir: /domains/contenido.creawebes.com/public_html/iamasterbigschool/public/

          # Subir solo la carpeta public
          local-dir: ./public/

          exclude: |
            **/.git*
            **/.github/**
            node_modules/**
            vendor/**
            tests/**
            .scannerwork/**
            coverage.xml
            pa11y-*.sh
            package-lock.json
            package.json
            playwright.config.cjs
            test-results/**
            blob-report/**
            playwright-report/**
            openai-service/**
            rag-service/**

      ####################################################################
      # 2) Deploy microservicio OPENAI (carpeta openai-service)
      ####################################################################
      - name: Deploy microservicio openai-service
        uses: SamKirkland/FTP-Deploy-Action@v4.3.5
        with:
          server: ${{ secrets.FTP_HOST }}
          username: ${{ secrets.FTP_USER }}
          password: ${{ secrets.FTP_PASS }}
          protocol: ftp
          port: ${{ secrets.FTP_PORT }}

          # RUTA REAL DEL MICROSERVICIO
          server-dir: /domains/contenido.creawebes.com/public_html/openai-service/

          # Carpeta local
          local-dir: ./openai-service/

      ####################################################################
      # 3) Deploy microservicio RAG (carpeta rag-service)
      ####################################################################
      - name: Deploy microservicio rag-service
        uses: SamKirkland/FTP-Deploy-Action@v4.3.5
        with:
          server: ${{ secrets.FTP_HOST }}
          username: ${{ secrets.FTP_USER }}
          password: ${{ secrets.FTP_PASS }}
          protocol: ftp
          port: ${{ secrets.FTP_PORT }}

          # RUTA REAL DEL MICROSERVICIO
          server-dir: /domains/contenido.creawebes.com/public_html/rag-service/

          # Carpeta local
          local-dir: ./rag-service/
